/*
|--------------------------------------------------------------------------|
|                     Place your custom styles here                        |
|--------------------------------------------------------------------------|
*/
.single-slide.parallax {
    
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000000AA;
        top: 0px;
        z-index: 0;
    }
    .container {
        position: relative !important;
    }
}
.portfolio-wrap.section {
    

    .portfolio-item {
        background-color: #FFF;
        [data-icon], .fab, .fas {
            
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            &:before {
                font-size: 100px;
                display: block;
                margin: auto;
                padding-top: 33%;
                margin-top: -0.33em;
                color: black;
                @media screen and (max-width: 600px) {
                    font-size: 45px;
                }
                @media screen and (min-width: 601px) and (max-with: 700px) {
                    font-size: 70px;
                }
            }
        }
        @media screen and (max-width: 500px) {
            .hover-text {
                h3 {
                    margin-bottom: 0px !important;
                }
                h4 {
                    visibility: none !important;
                    opacity: 0 !important;
                    position: absolute !important;
                    pointer-events: none !important;
                    width: 0px !important;
                    height: 0px !important;
                    overflow: hidden !important;
                }
            }
            .icon-scrum:before {
                font-size: 28px !important;
            }
        }

    }


    img {
        visibility: hidden;
        opacity: 0;
    }
    .item-inner .hover-text {
        background-color: black;
        padding: 16px;
        h4 {
            text-align: center;
        }
    }    
}
.google-map {
    iframe {
        margin-bottom: -7px !important;
    }
}
.single-info > * {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
[phone], [hu] {
    
    &:after, &:before {
        display: inline;
        font-size: 14px;
        color: #4c4c4c;
        font-family: 'Open Sans', sans-serif;
    }
}
[hu] {
   &:before {
       content: "acto@";
   }
   &:after {
        content: "quark-solutions.";
    }
}
[phone1] {
    &:before {
        content: "9133";
    }
}
[phone2] {
    &:before {
        content: "6643";
    }
}

@media screen and (max-width: 991px) {
    .grid-sizer, .portfolio-item {
        width: 33.333333333% !important;
    }
}